Repository terrylica/rangebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks configuration for rangebar
# Install: pip install pre-commit && pre-commit install
#
# IMPORTANT: This does NOT run cargo clean!
# - cargo clean deletes build artifacts (40GB+)
# - Running it on every commit would require full rebuilds (5-15 min each)
# - Build artifacts are cleaned by scheduled task instead
#   See: ~/Library/LaunchAgents/com.user.cleanup-dev.plist (runs daily at 2 AM)
#
# Purpose: Prevent large files from being committed to git version control

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo-fmt
        description: Format Rust code with cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-clippy
        name: cargo-clippy
        description: Lint Rust code with clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-test
        name: cargo-nextest
        description: Run tests with cargo nextest
        entry: cargo nextest run
        language: system
        files: \.rs$
        pass_filenames: false

      - id: cargo-deny
        name: cargo-deny
        description: Check dependencies with cargo deny
        entry: cargo deny check
        language: system
        files: Cargo\.(toml|lock)$
        pass_filenames: false


  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: \.md$
      - id: end-of-file-fixer
        exclude: \.md$
      - id: check-toml
      - id: check-yaml
      - id: check-json
        exclude: \.vscode/
      - id: check-added-large-files
        args: ['--maxkb=5120']  # 5MB limit (prevents accidentally committing large files to git)
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: detect-private-key

docs: add manual disk cleanup workflow guide
  docs/development/disk-cleanup-workflow.md
Due: none

docs: add automated updates system documentation
  .github/workflows/pre-commit-autoupdate.yml
  docs/development/automated-updates.md
Due: none

docs: update hybrid-plan-phase1 with Actions 1-3 completion
  docs/planning/current/hybrid-plan-phase1.md
Due: none

docs: reject Action 4 (CSV benchmark) - premature optimization
  STRATEGIC_PLAN_CORRECTIONS.md
  docs/planning/current/hybrid-plan-phase1.md
Due: none

docs: complete Action 5 (ADR-001) and Phase 1 ✅
  docs/architecture/ADR-001-modular-workspace.md
  docs/planning/current/hybrid-plan-phase1.md
Due: none

docs: production hardening roadmap from deep survey
  docs/planning/PRODUCTION_HARDENING_ROADMAP.md
Due: none

chore: repository cleanup and quick wins implementation
  archived_modules/debug/range_bars_debug.rs
  archived_modules/experiments/rangebar_export.rs
  archived_modules/legacy/performance_optimization.rs
  archived_modules/legacy/statistics_legacy.rs
  crates/rangebar-cli/src/bin/data_structure_validator.rs
  crates/rangebar-core/src/processor.rs
  crates/rangebar-core/src/test_utils/generators.rs
  crates/rangebar-providers/src/exness/builder.rs
  crates/rangebar-streaming/src/processor.rs
  crates/rangebar-streaming/src/replay_buffer.rs
  crates/rangebar/tests/binance_btcusdt_real_data_test.rs
  crates/rangebar/tests/binance_ethusdt_real_data_test.rs
  crates/rangebar/tests/boundary_consistency_tests.rs
  crates/rangebar/tests/cross_year_speed_comparison.rs
  crates/rangebar/tests/exness_eurusd_integration_test.rs
  crates/rangebar/tests/exness_eurusd_statistical_analysis.rs
  crates/rangebar/tests/integration_test.rs
  crates/rangebar/tests/production_streaming_validation.rs
  docs/planning/INDEX.md
  docs/planning/PRODUCTION_HARDENING_ROADMAP.md
  docs/planning/README.md
  docs/planning/api-threshold-granularity-migration.md
  docs/planning/architecture/algorithm-spec.md
  docs/planning/current/COMPREHENSIVE-TODO-LIST.md
  docs/planning/current/audit-quick-reference.md
  docs/planning/current/quick-wins-plan.md
  docs/planning/current/repository-audit-plan.md
  docs/planning/dukascopy-cleanup-plan-v5.0.0.md
  docs/planning/legacy/exness-migration-plan.md
  docs/planning/legacy/github-chart-visualization-comprehensive-plan.md
  docs/planning/legacy/phase6-data-flow-architecture.md
  docs/planning/legacy/test-fake-data-audit-v1-obsolete.md
  docs/planning/research/exness-eurusd-variant-analysis.md
  docs/planning/research/exness-tick-data-evaluation.md
  docs/planning/test-cleanup-plan-v2-llm-friendly.md
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add developer tool configurations
  .editorconfig
  .rust-analyzer.toml
Due: none

chore: update cargo deny config to allow BSL-1.0 license
  deny.toml
Due: none

feat: add rangebar::data compatibility shim for v4.0.0 examples
  crates/rangebar/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: handle poisoned mutex locks gracefully in ReplayBuffer
  crates/rangebar-streaming/src/replay_buffer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add comprehensive ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: add comprehensive --help documentation to 4 CLI binaries
  crates/rangebar-cli/src/bin/data_structure_validator.rs
  crates/rangebar-cli/src/bin/polars_benchmark.rs
  crates/rangebar-cli/src/bin/spot_tier1_processor.rs
  crates/rangebar-cli/src/bin/temporal_integrity_test_only.rs
Due: cargo-fmt, cargo-clippy, cargo-test

fix: update 4 examples to use v3.0.0 threshold API (25→250)
  examples/analysis/rangebar_generation_comparison.rs
  examples/interactive/historical_replay.rs
  examples/interactive/test_historical_replay.rs
  examples/validation/validate_25bps_threshold.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: fix 'zero-dependency' false claim in ARCHITECTURE.md
  docs/ARCHITECTURE.md
Due: none

docs: create comprehensive README.md for all 8 workspace crates
  crates/rangebar-batch/README.md
  crates/rangebar-cli/README.md
  crates/rangebar-config/README.md
  crates/rangebar-core/README.md
  crates/rangebar-io/README.md
  crates/rangebar-providers/README.md
  crates/rangebar-streaming/README.md
  crates/rangebar/README.md
Due: none

docs: create comprehensive v4.0.0→v5.0.0 Rust migration guide
  docs/development/MIGRATION-v4-to-v5.md
Due: none

docs: create AI-agent-optimized API reference (docs/API.md)
  docs/API.md
Due: none

docs: update quick-wins-plan.md status to completed
  docs/planning/current/quick-wins-plan.md
Due: none

feat: add public API re-exports to rangebar-providers
  crates/rangebar-providers/src/exness/mod.rs
  crates/rangebar-providers/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: fix binary count in ARCHITECTURE.md (7→6)
  docs/ARCHITECTURE.md
Due: none

docs: fix binary names in CLAUDE.md (7→6 count, update names)
  CLAUDE.md
Due: none

docs: archive obsolete Python migration guide
  docs/archive/python-migration-legacy.md
Due: none

docs: fix examples status in ARCHITECTURE.md (14 exist, all inaccessible)
  docs/ARCHITECTURE.md
Due: none

docs: create authoritative algorithm-spec.md (v5.0.0)
  docs/planning/architecture/algorithm-spec.md
  docs/specifications/algorithm-spec.md
Due: none

docs: link 4 files to authoritative algorithm-spec.md (DRY)
  CLAUDE.md
  README.md
  crates/rangebar-core/README.md
  docs/ARCHITECTURE.md
Due: none

docs: add safety comments to rangebar-core unwraps
  crates/rangebar-core/src/processor.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat: add comprehensive algorithm invariant integration tests
  crates/rangebar/tests/algorithm_invariants.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add comprehensive error recovery guide for long-running jobs
  docs/guides/error-recovery.md
Due: none

docs: add comprehensive common workflows guide for researchers
  docs/guides/common-workflows.md
Due: none

docs: add comprehensive performance profiling guide
  docs/guides/performance-profiling.md
Due: none

docs: fix critical legacy information in README.md and CLAUDE.md
  CLAUDE.md
  README.md
Due: none

docs: fix non-existent binary references in performance-profiling.md
  docs/guides/performance-profiling.md
Due: none

docs: add comprehensive documentation hub page (DOCUMENTATION.md)
  DOCUMENTATION.md
Due: none

docs: add business logic diagram infrastructure
  DOCUMENTATION.md
  docs/diagrams/01-high-level-business-flow.md
  docs/diagrams/02-business-use-cases.md
  docs/diagrams/03-data-acquisition-decisions.md
  docs/diagrams/04-processing-mode-decisions.md
  docs/diagrams/05-threshold-selection-guide.md
  docs/diagrams/06-complete-business-workflow.md
  docs/diagrams/07-error-recovery-logic.md
  docs/diagrams/08-cross-market-comparison.md
  docs/diagrams/09-algorithm-business-rules.md
  docs/diagrams/DIAGRAM_PROPOSALS.md
  docs/diagrams/INDEX.md
Due: none

docs: update GitHub repository URLs from org to personal account
  CONTRIBUTING.md
  Cargo.toml
  cliff-release-notes.toml
  docs/development/MIGRATION-v4-to-v5.md
Due: cargo-deny

docs: fix absolute paths to relative paths across all documentation
  CLAUDE.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/guides/common-workflows.md
  docs/guides/error-recovery.md
  docs/guides/performance-profiling.md
  docs/specifications/algorithm-spec.md
Due: none

docs: convert absolute paths to relative paths (part 1 - active docs)
  STRATEGIC_PLAN_CORRECTIONS.md
  STRATEGIC_PLAN_SUMMARY.md
  SURVEY_INDEX.md
  SURVEY_QUICK_REFERENCE.md
  crates/rangebar-batch/README.md
  crates/rangebar-cli/README.md
  crates/rangebar-config/README.md
  crates/rangebar-core/README.md
  crates/rangebar-io/README.md
  crates/rangebar-providers/README.md
  crates/rangebar-streaming/README.md
  crates/rangebar/README.md
  docs/ARCHITECTURE.md
  docs/architecture/ADR-001-modular-workspace.md
  docs/development/MIGRATION-v4-to-v5.md
  docs/development/automated-updates.md
  docs/development/disk-cleanup-workflow.md
  docs/testing/test-data-guide.md
Due: none

docs: convert absolute paths to relative paths (part 2 - planning docs)
  docs/planning/INDEX.md
  docs/planning/PRODUCTION_HARDENING_ROADMAP.md
  docs/planning/architecture/algorithm-spec.md
  docs/planning/current/hybrid-plan-phase1.md
  docs/planning/current/quick-wins-plan.md
Due: none
