Repository terrylica/rangebar: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

cargo-fmt:
  name: cargo-fmt
  description: Format Rust code with cargo fmt
  entry: cargo fmt --all -- --check
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo-clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --all-targets --all-features -- -D warnings
  language: system
  pass_filenames: false

cargo-test:
  name: cargo-nextest
  description: Run tests with cargo nextest
  entry: cargo nextest run
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo-deny
  description: Check dependencies with cargo deny
  entry: cargo deny check
  language: system
  pass_filenames: false

docs: improve README markdown formatting with blank lines between sections
  crates/rangebar/README.md
Due: none

docs: improve rangebar-core README formatting
  crates/rangebar-core/README.md
Due: none

build: add version specifications to internal crate dependencies for crates.io publishing
  crates/rangebar-batch/Cargo.toml
  crates/rangebar-cli/Cargo.toml
  crates/rangebar-config/Cargo.toml
  crates/rangebar-io/Cargo.toml
  crates/rangebar-providers/Cargo.toml
  crates/rangebar-streaming/Cargo.toml
Due: cargo-deny

docs: improve README formatting across all crates
  crates/rangebar-batch/README.md
  crates/rangebar-cli/README.md
  crates/rangebar-io/README.md
  crates/rangebar-providers/README.md
  crates/rangebar-streaming/README.md
Due: none

docs: add publishing guide with Doppler credential access pattern
  CLAUDE.md
  docs/README.md
  docs/guides/publishing.md
Due: none

style: convert all markdown links to repo-relative paths
  CLAUDE.md
  DOCUMENTATION.md
  README.md
  crates/rangebar-core/README.md
  docs/API.md
  docs/ARCHITECTURE.md
  docs/archive/LARGE_SCALE_BENCHMARKING.md
  docs/diagrams/01-high-level-business-flow.md
  docs/diagrams/02-business-use-cases.md
  docs/diagrams/03-data-acquisition-decisions.md
  docs/diagrams/04-processing-mode-decisions.md
  docs/diagrams/05-threshold-selection-guide.md
  docs/diagrams/06-complete-business-workflow.md
  docs/diagrams/07-error-recovery-logic.md
  docs/diagrams/08-cross-market-comparison.md
  docs/diagrams/09-algorithm-business-rules.md
  docs/diagrams/INDEX.md
  docs/guides/common-workflows.md
  docs/guides/error-recovery.md
  docs/guides/performance-profiling.md
  docs/planning/INDEX.md
  docs/specifications/algorithm-spec.md
  examples/README.md
Due: none

fix: correct broken anchor fragment in planning INDEX.md
  docs/planning/INDEX.md
Due: none

feat: migrate to release-plz for SSoT Rust versioning
  .cz.toml
  .github/workflows/release-plz.yml
  CLAUDE.md
  docs/guides/publishing.md
  release-plz.toml
  scripts/release.sh
Due: none

feat: add project-local release-plz-workflow skill
  .claude/skills/release-plz-workflow/SKILL.md
  .claude/skills/release-plz-workflow/references/troubleshooting.md
Due: none

fix: use repo-relative path in skill markdown link
  .claude/skills/release-plz-workflow/SKILL.md
Due: none

revert: restore relative path for skill-internal link
  .claude/skills/release-plz-workflow/SKILL.md
Due: none

fix: pass skill-architecture validation checks
  .claude/skills/release-plz-workflow/SKILL.md
  .claude/skills/release-plz-workflow/references/troubleshooting.md
Due: none

fix: correct release-plz action input parameters
  .github/workflows/release-plz.yml
Due: none

revert: remove release-plz CI workflow
  .github/workflows/release-plz.yml
Due: none

revert: remove all CI workflows - local-first philosophy
  .github/workflows/ci.yml
  .github/workflows/pre-commit-autoupdate.yml
Due: none

docs: fix crates.io metadata for all workspace crates
  README.md
  crates/rangebar-batch/Cargo.toml
  crates/rangebar-cli/Cargo.toml
  crates/rangebar-config/Cargo.toml
  crates/rangebar-core/Cargo.toml
  crates/rangebar-io/Cargo.toml
  crates/rangebar-providers/Cargo.toml
  crates/rangebar-streaming/Cargo.toml
  crates/rangebar/Cargo.toml
Due: cargo-deny

chore: bump version to 5.0.1 for metadata fix release
  Cargo.toml
Due: cargo-deny

chore: remove orphaned binance-public-data submodule
  .gitmodules
Due: none

docs(skill): enhance release-plz-workflow with lessons learned
  .claude/skills/release-plz-workflow/SKILL.md
  .claude/skills/release-plz-workflow/references/troubleshooting.md
Due: none

feat(exness): add multi-instrument support with ExnessInstrument enum
  .gitignore
  CLAUDE.md
  crates/rangebar-providers/src/exness/builder.rs
  crates/rangebar-providers/src/exness/client.rs
  crates/rangebar-providers/src/exness/mod.rs
  crates/rangebar-providers/src/exness/types.rs
  crates/rangebar-providers/src/lib.rs
  crates/rangebar/Cargo.toml
  crates/rangebar/tests/common/mod.rs
  crates/rangebar/tests/exness_eurusd_integration_test.rs
  crates/rangebar/tests/exness_multi_instrument_validation.rs
  crates/rangebar/tests/exness_proptest_invariants.proptest-regressions
  crates/rangebar/tests/exness_proptest_invariants.rs
  crates/rangebar/tests/exness_xauusd_integration_test.rs
  crates/rangebar/tests/snapshots/exness_xauusd_integration_test__xauusd_validation_summary.snap
  docs/API.md
  docs/ARCHITECTURE.md
  docs/diagrams/01-high-level-business-flow.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

chore(release): prepare v5.1.0
  Cargo.toml
  crates/rangebar-batch/CHANGELOG.md
  crates/rangebar-batch/Cargo.toml
  crates/rangebar-cli/CHANGELOG.md
  crates/rangebar-cli/Cargo.toml
  crates/rangebar-config/CHANGELOG.md
  crates/rangebar-config/Cargo.toml
  crates/rangebar-core/CHANGELOG.md
  crates/rangebar-io/CHANGELOG.md
  crates/rangebar-io/Cargo.toml
  crates/rangebar-providers/CHANGELOG.md
  crates/rangebar-providers/Cargo.toml
  crates/rangebar-streaming/CHANGELOG.md
  crates/rangebar-streaming/Cargo.toml
  crates/rangebar/CHANGELOG.md
  crates/rangebar/Cargo.toml
Due: cargo-deny

feat(docs): implement README SSoT with cargo-rdme
  .claude/skills/release-plz-workflow/SKILL.md
  .claude/skills/release-plz-workflow/references/troubleshooting.md
  Cargo.toml
  README.md
  crates/rangebar/Cargo.toml
  crates/rangebar/src/lib.rs
  crates/rangebar/tests/version_sync.rs
  release-plz.toml
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

fix(config): remove invalid pre_release_hook from release-plz.toml
  release-plz.toml
Due: none

chore: untrack .sessions management files
  .sessions/.gitignore
  .sessions/.gitkeep
  .sessions/protect_sessions.sh
Due: none

chore(release): prepare v5.2.0
  Cargo.toml
  README.md
  crates/rangebar-batch/Cargo.toml
  crates/rangebar-cli/Cargo.toml
  crates/rangebar-config/Cargo.toml
  crates/rangebar-io/Cargo.toml
  crates/rangebar-providers/Cargo.toml
  crates/rangebar-streaming/Cargo.toml
  crates/rangebar/Cargo.toml
  crates/rangebar/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

chore(release): prepare v6.0.0
  Cargo.toml
  crates/rangebar-batch/Cargo.toml
  crates/rangebar-cli/Cargo.toml
  crates/rangebar-config/Cargo.toml
  crates/rangebar-io/Cargo.toml
  crates/rangebar-providers/Cargo.toml
  crates/rangebar-streaming/Cargo.toml
  crates/rangebar/Cargo.toml
Due: cargo-deny

fix(docs): update version references and CLI examples for v6.0.0
  README.md
  crates/rangebar-cli/README.md
  crates/rangebar-io/README.md
  crates/rangebar/README.md
  crates/rangebar/src/lib.rs
  docs/API.md
Due: cargo-fmt, cargo-clippy, cargo-test

docs: align all documentation with v6.0.0 threshold_decimal_bps rename
  CODEBASE_SURVEY.md
  SURVEY_INDEX.md
  SURVEY_QUICK_REFERENCE.md
  docs/guides/publishing.md
  docs/planning/api-threshold-granularity-migration.md
  docs/specifications/algorithm-spec.md
  visualization/src/elements.rs
  visualization/src/export.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(checkpoint): add cross-file range bar continuation system
  crates/rangebar-core/Cargo.toml
  crates/rangebar-core/src/checkpoint.rs
  crates/rangebar-core/src/lib.rs
  crates/rangebar-core/src/processor.rs
  crates/rangebar-core/tests/cross_boundary_validation.rs
  crates/rangebar-core/tests/cross_date_real_data_validation.rs
  crates/rangebar-core/tests/cross_year_boundary_test.rs
  crates/rangebar-core/tests/incomplete_bar_continuation_proof.rs
  docs/reports/CHECKPOINT_VALIDATION_REPORT.md
Due: cargo-fmt, cargo-clippy, cargo-test, cargo-deny

chore(release): prepare v6.1.0
  Cargo.toml
  crates/rangebar-batch/Cargo.toml
  crates/rangebar-cli/Cargo.toml
  crates/rangebar-config/Cargo.toml
  crates/rangebar-io/Cargo.toml
  crates/rangebar-providers/Cargo.toml
  crates/rangebar-streaming/Cargo.toml
  crates/rangebar/Cargo.toml
Due: cargo-deny

fix(docs): streamline CLAUDE.md and add compilation optimization guide
  CLAUDE.md
  crates/CLAUDE.md
  docs/CLAUDE.md
  docs/development/compilation-optimization.md
Due: none

chore: add mise.toml for terrylica GitHub account
  .mise.toml
Due: none

chore(docs): comprehensive v6.1.0 documentation cleanup
  CODEBASE_SURVEY.md
  README.md
  SURVEY_INDEX.md
  SURVEY_QUICK_REFERENCE.md
  crates/CLAUDE.md
  crates/rangebar-batch/README.md
  crates/rangebar-cli/README.md
  crates/rangebar-config/README.md
  crates/rangebar-core/README.md
  crates/rangebar-io/README.md
  crates/rangebar-providers/README.md
  crates/rangebar-streaming/README.md
  crates/rangebar/README.md
  crates/rangebar/src/lib.rs
  docs/API.md
  docs/ARCHITECTURE.md
  docs/development/MIGRATION-v4-to-v5.md
  docs/development/compilation-optimization.md
  docs/planning/INDEX.md
  docs/planning/architecture/algorithm-spec.md
  docs/specifications/algorithm-spec.md
Due: cargo-fmt, cargo-clippy, cargo-test

chore(docs): remove stale planning docs and fix references
  MILESTONE_cc165da.md
  RELEASE_NOTES.md
  STRATEGIC_PLAN.md
  STRATEGIC_PLAN_CORRECTIONS.md
  STRATEGIC_PLAN_SUMMARY.md
  docs/API.md
  docs/NEXT_STEPS.md
  docs/archive/python-migration-legacy.md
Due: none

fix(docs): update publishing guide version example to 6.1
  docs/guides/publishing.md
Due: none

chore(docs): remove legacy planning files and consolidate documentation
  DOCUMENTATION.md
  docs/TERMINOLOGY.md
  docs/diagrams/INDEX.md
  docs/planning/INDEX.md
  docs/planning/legacy/comprehensive-rolling14bar-system-specification.yml
  docs/planning/legacy/exness-migration-plan.md
  docs/planning/legacy/github-chart-visualization-comprehensive-plan.md
  docs/planning/legacy/master-implementation-plan.yml
  docs/planning/legacy/phase6-data-flow-architecture.md
  docs/planning/legacy/phase6-technical-specification.yaml
  docs/planning/legacy/test-fake-data-audit-v1-obsolete.md
Due: none

Path conditions:
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: Cargo\.(toml|lock)$
